<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 class="text-center mb-4">Contact Us</h2>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <a>Điền Họ của bạn</a>
          <app-text-input formControlName="lastName"
                          [label]="'Họ'">
          </app-text-input>

          <a>Điền Tên của bạn</a>
          <app-text-input formControlName="firstName"
                          [label]="'Tên'">
          </app-text-input>

          <a>Điền Email của bạn</a>
          <app-text-input formControlName="email"
                          [type]="'email'"
                          [label]="'Email'">
          </app-text-input>

          <a>Điền Chủ đề</a>
          <app-text-input formControlName="subject"
                          [label]="'Subject'">
          </app-text-input>

          <a>Điền Tin nhắn</a>
          <app-text-input formControlName="message"
                          [label]="'Message'">
          </app-text-input>

          <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Send Message</button>
        </form>
    </div>
</div>
