<div class="container-fluid mt-3">
    <div class="row">
        <!-- Sidebar -->
        <aside class="col-md-3 col-lg-2 mb-4 sticky-sidebar">
            <div class="card shadow-sm h-100">
                <ul class="list-group">
                    <li class="list-group-item p-0 border-0">
                        <a routerLink="/admin/dashboard" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
                            Dashboard
                        </a>
                    </li>
                    <ng-container *ngIf="isExistRole([roleConstants.Admin], currentUser$ | async)">
                        <li class="list-group-item p-0 border-0">
                            <a routerLink="/admin/users" routerLinkActive="active" class="nav-link">
                                Quản lý người dùng
                            </a>
                        </li>
                    </ng-container>
                    <li class="list-group-item p-0 border-0">
                        <a routerLink="/admin/cities" routerLinkActive="active" class="nav-link">
                            Quản lý thành phố
                        </a>
                    </li>
                    <li class="list-group-item p-0 border-0">
                        <a routerLink="/admin/districts" routerLinkActive="active" class="nav-link">
                            Quản lý quận
                        </a>
                    </li>
                    <li class="list-group-item p-0 border-0">
                        <a routerLink="/admin/wards" routerLinkActive="active" class="nav-link">
                            Quản lý phường
                        </a>
                    </li>
                    <li class="list-group-item p-0 border-0">
                        <a routerLink="/admin/restaurants" routerLinkActive="active" class="nav-link">
                            Quản lý nhà hàng
                        </a>
                    </li>
                    <li class="list-group-item p-0 border-0">
                        <a routerLink="/admin/genres" routerLinkActive="active" class="nav-link">
                            Quản lý thể loại
                        </a>
                    </li>
                    <li class="list-group-item p-0 border-0">
                        <a routerLink="/admin/menu-items" routerLinkActive="active" class="nav-link">
                            Quản lý món ăn
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <!-- Main content -->
        <main class="col-md-9 col-lg-10">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>