<ng-container *ngIf="menuItem">
    <div class="row">
        <div class="col-md-5">
            <img class="img-fluid rounded" src="{{menuItem.imageUrl}}" alt="{{menuItem.name}}">
        </div>

        <div class="col-md-7">
            <h3>{{menuItem.name}}</h3>

            <h2 class="mb-5">
                <strong class="me-2">{{menuItem.discountPrice | currency:'VND'}}</strong>
                <small class="text-muted">giảm {{menuItem.discountAmount | currency:'VND'}}</small>
            </h2>

            <div class="d-flex justify-content-start align-items-center">
                <a (click)="decrementQuantity()" style="cursor: pointer;">
                    <fa-icon class="text-warning minus-button-custom me-2" [icon]="faMinusCircle"></fa-icon>
                </a>
                <span class="quantity">{{quantity}}</span>
                <a (click)="incrementQuantity()" style="cursor: pointer;">
                    <fa-icon class="text-warning plus-button-custom mx-2" [icon]="faPlusCircle"></fa-icon>
                </a>
                <button class="btn btn-lg btn-outline-warning ms-4" (click)="addToCart()">
                    Thêm vào giỏ
                </button>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 ms-3">
                <h4>Mô tả</h4>
                <p>{{menuItem.description}}</p>
            </div>
        </div>
    </div>
</ng-container>