<div class="d-flex justify-content-center">
    <div class="col-lg-4 col-md-8">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-4 fw-normal text-center">Quên mật khẩu</h1>

            <div class="d-flex justify-content-left mb-3" *ngIf="validationErrors.length > 0">
                <ul class="text-danger">
                    <ng-container *ngFor="let error of validationErrors">
                        <li>{{ error }}</li>
                    </ng-container>
                </ul>
            </div>

            <app-text-input formControlName="email" [label]="'Email đăng ký tài khoản*'" [type]="'email'">
            </app-text-input>

            <button class="w-100 btn btn-lg btn-primary mb-2" type="submit" [disabled]="forgotPasswordForm.invalid">
                Đặt lại mật khẩu
            </button>

            <div class="text-center mt-3">
                <a routerLink="/authen/login">Quay lại đăng nhập</a>
            </div>
        </form>
    </div>
</div>