<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h4>Thông tin người nhận</h4>
        <button class="btn btn-outline-success mb-3"
            (click)="saveUserInformation()"
            [disabled]="!checkoutForm.get('infoForm')?.valid || !checkoutForm.get('infoForm')?.dirty">
            Lưu thông tin này là mặc định
        </button>
    </div>

    <div class="row" formGroupName="infoForm">
        <div class="col-sm-6">
            <app-text-input
                [label]="'Họ'"
                formControlName="lastName">
            </app-text-input>
        </div>
        <div class="col-sm-6">
            <app-text-input
                [label]="'Tên'"
                formControlName="firstName">
            </app-text-input>
        </div>
        <div class="col-sm-6">
            <app-text-input
                [label]="'Số điện thoại'"
                formControlName="phoneNumber">
            </app-text-input>
        </div>

        <div class="col-sm-6">
            <app-text-input
                formControlName="houseNumber"
                [label]="'Số nhà'">
            </app-text-input>
        </div>

        <div class="col-sm-6">
            <app-text-input
                formControlName="streetName"
                [label]="'Đường'">
            </app-text-input>
        </div>

        <div class="col-sm-6 form-floating mb-3">
            <select 
                class="form-select" formControlName="cityId" id="city"
                (change)="onCityChange($event)"
            >
                <option value="" disabled selected>Chọn thành phố</option>
                <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
            </select>
            <label for="city">Thành phố</label>
        </div>
        
        <div class="col-sm-6 form-floating mb-3">
            <select 
                class="form-select" 
                formControlName="districtId" id="district"
                (change)="onDistrictChange($event)"
            >
                <option value="" disabled selected>Chọn quận</option>
                <option *ngFor="let district of districts" [value]="district.id">{{ district.name }}</option>
            </select>
            <label for="district">Quận</label>
        </div>
        
        <div class="col-sm-6 form-floating mb-3">
            <select class="form-select" formControlName="wardId" id="ward">
                <option value="" disabled selected>Chọn phường</option>
                <option *ngFor="let ward of wards" [value]="ward.id">{{ ward.name }}</option>
            </select>
            <label for="ward">Phường</label>
        </div>
    </div>
</div>

<app-checkout-navigate
    [checkoutForm]="checkoutForm"
    [formName]="'infoForm'"
    [leftText]="'Quay lại giỏ hàng'"
    [rightText]="'Tới giao hàng'">
</app-checkout-navigate>
