<div class="container mt-3">
    <div class="d-flex justify-content-between mb-3">
        <h3>Danh sách thể loại</h3>
        <button class="btn btn-success" routerLink="/admin/genres/add">
            <fa-icon [icon]="faAdd" class="me-2"></fa-icon> Thêm thể loại
        </button>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Tên thể loại</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let genre of genres">
                <td>{{ genre.name }}</td>
                <td>
                    <button class="btn btn-sm btn-primary me-2" (click)="editGenre(genre.id)">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="deleteGenre(genre.id)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>