<div class="d-flex justify-content-center">
  <div class="col-lg-4 col-md-8">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-4 fw-normal text-center">Đăng nhập Shipper</h1>

      <div class="d-flex justify-content-left mb-3" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
          <ng-container *ngFor="let error of validationErrors">
            <li>{{error}}</li>
          </ng-container>
        </ul>
      </div>

      <app-text-input formControlName="userName" [label]="'Tên đăng nhập*'"></app-text-input>
      <app-text-input formControlName="password" [label]="'Mật khẩu*'" [type]="'password'"></app-text-input>

      <button class="w-100 btn btn-lg btn-primary mb-2" type="submit" [disabled]="loginForm.invalid">
        Đăng nhập
      </button>

      <div class="text-center">
        <p>Chưa có tài khoản Shipper? <a routerLink="/shipper-auth/register">Đăng ký làm Shipper</a></p>
      </div>
    </form>
  </div>
</div>
