<ng-container *ngIf="menuItems && genres">
    <div class="row">
        <section class="col-lg-3">
            <div class="mb-3">
                <h4>Lọc theo</h4>
                <select id="filter" class="form-select" (change)="onSortSelected($any($event.target).value)">
                    <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
                </select>
            </div>
            <div class="mb-3">
                <h4>Thể loại</h4>
                <ul class="list-group scrollable-custom-list">
                    <li class="list-group-item" *ngFor="let genre of genres"
                        [class.active]="genre.id === menuItemParams.genreId" [value]="genre.id"
                        (click)="onGenreSelected(genre.id)">
                        {{genre.name | truncateWords:45}}
                    </li>
                </ul>
            </div>
        </section>

        <section class="col-lg-9">
            <h2 class="mb-4" *ngIf="menuItemParams.restaurantId !== ''">Các món ăn của nhà hàng này</h2>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <app-paging-header
                    [pageNumber]="menuItemParams.pageNumber"
                    [pageSize]="menuItemParams.pageSize"
                    [totalRecords]="totalRecords">
                </app-paging-header>

                <app-search-form (searchValue)="onSearchSubmit($event)"></app-search-form>
            </div>

            <div class="row row-cols-2 row-cols-md-3 g-4">
                <div class="col" *ngFor="let item of menuItems">
                    <app-menu-item-card [menuItem]="item"></app-menu-item-card>
                </div>
            </div>

            <app-paging-footer
                [itemsPerPage]="menuItemParams.pageSize"
                [totalRecords]="totalRecords"
                (pagedChanged)="onPageChanged($event)">
            </app-paging-footer>
        </section>
    </div>
</ng-container>