<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom shadow-sm fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="/assets/images/logo.png" alt="logo" class="logo me-2">
            <span class="blog-header-logo">FastDeliveruu</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <fa-icon [icon]="faBars"></fa-icon>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <!-- Add a spacer div to push the search form to the center -->
            <div class="d-flex flex-grow-1">
                <ul class="d-flex mx-auto navbar-nav navbar-middle-content">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            Trang chủ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/menu-items" routerLinkActive="active">Món ăn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/restaurants" routerLinkActive="active">Nhà hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/test-errors" routerLinkActive="active">Errors</a>
                    </li>
                </ul>
            </div>

            <!-- Buttons on the right -->
            <div class="d-flex ms-auto">
                <a class="btn me-4 text-dark position-relative" href="#">
                    <fa-icon [icon]="faCartShopping" [size]="'2x'"></fa-icon>
                    <div class="cart-no">5</div>
                </a>
                <button class="btn btn-outline-secondary me-2">Đăng ký</button>
                <button class="btn btn-outline-secondary me-2">Đăng nhập</button>
            </div>
        </div>
    </div>
</nav>