<div class="d-flex justify-content-center mt-4" *ngIf="totalRecords > 0">
    <pagination
        [boundaryLinks]="true"
        [itemsPerPage]="itemsPerPage"
        [totalItems]="totalRecords"
        [maxSize]="8"
        (pageChanged)="onPageFooterChanged($event)"
        [previousText]="'&lsaquo;'"
        [nextText]="'&rsaquo;'"
        [firstText]="'&laquo;'"
        [lastText]="'&raquo;'">
    </pagination>
</div>

<div class="d-flex justify-content-center mt-4" *ngIf="totalRecords === 0">
    <h3>Không có món ăn nào!</h3>
</div>