<div class="d-flex justify-content-center">
    <div class="col-lg-4 col-md-8">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-4 fw-normal text-center">Đặt lại mật khẩu</h1>

            <div *ngIf="validationErrors.length > 0" class="text-danger mb-3">
                <ul>
                    <li *ngFor="let error of validationErrors">{{ error }}</li>
                </ul>
            </div>

            <app-text-input 
                formControlName="newPassword" 
                [label]="'Mật khẩu mới*'" 
                [placeholder]="'Mật khẩu mới'" 
                [type]="'password'">
            </app-text-input>

            <div class="form-floating mb-3">
                <input 
                    formControlName="confirmPassword"
                    type="password"
                    class="form-control" 
                    id="confirmPassword" 
                    placeholder="Xác nhận mật khẩu mới*"
                    [class.is-invalid]="
                        (resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.invalid) ||
                        (resetPasswordForm.errors?.['notMatch'] && resetPasswordForm.touched)" 
                    />
                <label for="confirmPassword">Xác nhận mật khẩu mới*</label>
                <div class="invalid-feedback" *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">
                    Vui lòng nhập lại mật khẩu
                </div>
                <div class="invalid-feedback" *ngIf="resetPasswordForm.errors?.['notMatch'] && resetPasswordForm.touched">
                    Mật khẩu không trùng khớp.
                </div>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit" [disabled]="resetPasswordForm.invalid">
                Xác nhận đặt lại mật khẩu
            </button>

            <div class="text-center mt-3">
                <a routerLink="/authen/login">Quay lại đăng nhập</a>
            </div>
        </form>
    </div>
</div>