<div class="d-flex justify-content-center">
    <div class="col-lg-4 col-md-8">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-4 fw-normal text-center">Đăng ký</h1>

            <div class="d-flex justify-content-left mb-3" *ngIf="validationErrors.length > 0">
                <ul class="text-danger">
                    <ng-container *ngFor="let error of validationErrors">
                        <li>{{error}}</li>
                    </ng-container>
                </ul>
            </div>

            <app-text-input
                formControlName="userName"
                [label]="'Tên đăng nhập*'"
                [placeholder]="'Tên đăng nhập'">
            </app-text-input>

            <app-text-input
                formControlName="phoneNumber"
                [type]="'tel'"
                [label]="'Số điện thoại*'"
                [placeholder]="'Số điện thoại'">
            </app-text-input>

            <app-text-input
                formControlName="email"
                [type]="'email'"
                [label]="'Email*'"
                [placeholder]="'Email'">
            </app-text-input>

            <app-text-input
                formControlName="password"
                [type]="'password'"
                [label]="'Mật khẩu*'"
                [placeholder]="'Mật khẩu'">
            </app-text-input>
            <div class="form-floating mb-3">
                <input 
                    formControlName="confirmPassword"
                    type="password"
                    class="form-control" 
                    id="confirmPassword" 
                    placeholder="Nhập lại mật khẩu*"
                    [class.is-invalid]="
                        (registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.invalid) ||
                        (registerForm.errors?.['passwordsMismatch'] && registerForm.touched)" 
                    />
                <label for="confirmPassword">Nhập lại mật khẩu*</label>
                <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
                    Vui lòng nhập lại mật khẩu
                </div>
                <div class="invalid-feedback" *ngIf="registerForm.errors?.['passwordsMismatch'] && registerForm.touched">
                    Mật khẩu không trùng khớp.
                </div>
            </div>

            <app-text-input
                formControlName="houseNumber"
                [label]="'Số nhà'"
                [placeholder]="'Số nhà'">
            </app-text-input>

            <app-text-input
                formControlName="streetName"
                [label]="'Đường'"
                [placeholder]="'Đường'">
            </app-text-input>

            <div class="form-floating mb-3">
                <select formControlName="cityId" class="form-select" id="city">
                    <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                </select>
                <label for="city">Thành phố</label>
                <div class="invalid-feedback" *ngIf="registerForm.get('city')?.invalid && registerForm.get('city')?.touched">
                    Vui lòng chọn thành phố.
                </div>
            </div>

            <div class="form-floating mb-3">
                <select formControlName="districtId" class="form-select" id="district" [disabled]="districts.length === 0">
                    <option *ngFor="let district of districts" [value]="district.id">{{ district.name }}</option>
                </select>
                <label for="district">Quận</label>
                <div class="invalid-feedback" *ngIf="registerForm.get('district')?.invalid && registerForm.get('district')?.touched">
                    Vui lòng chọn quận.
                </div>
            </div>

            <div class="form-floating mb-3">
                <select formControlName="wardId" class="form-select" id="ward" [disabled]="wards.length === 0">
                    <option *ngFor="let ward of wards" [value]="ward.id">{{ ward.name }}</option>
                </select>
                <label for="ward">Phường</label>
                <div class="invalid-feedback" *ngIf="registerForm.get('ward')?.invalid && registerForm.get('ward')?.touched">
                    Vui lòng chọn phường.
                </div>
            </div>

            <button class="w-100 btn btn-lg btn-primary mb-2" type="submit" [disabled]="registerForm.invalid">
                Đăng ký
            </button>

            <div class="text-center">
                <p>Đã có tài khoản? <a routerLink="/authen/login">Đăng nhập</a></p>
            </div>
        </form>
    </div>
</div>