<div class="container mt-5">
    <button class="btn btn-outline-primary me-3" (click)="get404NotFound()">Test 400 Not Found</button>
    <button class="btn btn-outline-primary me-3" (click)="get400BadRequest()">Test 400 Bad Request</button>
    <button class="btn btn-outline-primary me-3" (click)="get409Conflict()">Test 409 Conflict</button>
    <button class="btn btn-outline-primary me-3" (click)="get400ValidationErrors()">Test 400 Validations</button>
    <button class="btn btn-outline-primary me-3" (click)="get500InternalServerError()">Test 500</button>

    <div class="row mt-5" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let err of validationErrors">{{err}}</li>
        </ul>
    </div>
</div>