<div class="container mt-3">
    <div class="d-flex justify-content-between mb-3">
        <h3>Danh sách nhà hàng</h3>
        <button class="btn btn-success" routerLink="/admin/restaurants/add">
            <fa-icon [icon]="faAdd" class="me-2"></fa-icon> Thêm nhà hàng
        </button>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Tên nhà hàng</th>
                <th>Mô tả</th>
                <th>Địa chỉ</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let restaurant of restaurants">
                <td>{{ restaurant.name }}</td>
                <td>{{ restaurant.description }}</td>
                <td>{{ restaurant.houseNumber }} {{ restaurant.streetName }}</td>
                <td>
                    <button class="btn btn-sm btn-primary me-2" (click)="editRestaurant(restaurant.id)">
                        <fa-icon [icon]="faEdit"></fa-icon>
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="deleteRestaurant(restaurant.id)">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <app-paging-footer [itemsPerPage]="itemsPerPage" [totalRecords]="totalRecords"
        (pagedChanged)="onPageChanged($event)">
    </app-paging-footer>
</div>