/* You can add global styles to this file, and also import other style files */

.no-underline {
    text-decoration: none;
}

.card:hover img {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
}